<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>InfoTech Password Analyzer</title>

<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div id="loader">
    <div class="loader-content">
        <i class="fas fa-shield-alt shield"></i>
        <h1>InfoTech</h1>
        <div class="loading-bar">
            <div class="loading-fill"></div>
        </div>
    </div>
</div>

<div class="particles"></div>

<div class="container">

    <div class="card">

        <h1>Password Strength Analyzer</h1>
        <p>Check your password security instantly.</p>

        <div class="password-box">
            <input type="password" id="password" placeholder="Enter Password">
            <button id="toggle">
                <i class="fas fa-eye"></i>
            </button>
        </div>

        <div class="meter">
            <div id="progress"></div>
        </div>

        <div class="stats">
            <p>Strength: <span id="strength">-</span></p>
            <p>Score: <span id="score">0</span>/7</p>
            <p>Entropy: <span id="entropy">0</span></p>
        </div>

        <ul class="checklist">
            <li id="length">8+ Characters</li>
            <li id="lowercase">Lowercase Letter</li>
            <li id="uppercase">Uppercase Letter</li>
            <li id="number">Number</li>
            <li id="special">Special Character</li>
        </ul>

        <button class="generate-btn" id="generateBtn">
            Generate Secure Password
        </button>

        <div class="generated">
            <input type="text" id="generatedPassword" readonly>
            <button id="copyBtn">
                <i class="fas fa-copy"></i>
            </button>
        </div>

    </div>

</div>

<script src="../static/script.js"></script>
</body>
</html>